<!DOCTYPE html>
<html>
<head>
  <title>JsLog</title>
  <%= stylesheet_link_tag    "js_log/application", media: "all" %>
  <%= javascript_include_tag "js_log/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
